%flex-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.navigation {
  @extend %flex-nowrap;
  align-items: center;
  padding: 3rem 0;
}

.navigationLogo {
  margin-right: 2rem;
}

.navigationLinks {
  @extend %flex-nowrap;
  a {
    font-size: medium;
    font-weight: bold;
    color: var(--grayish-violet);
    margin-right: 2rem;
    transition: all 200ms;

    &:hover {
      color: var(--dark-violet);
    }
  }
}

.navigationAccount {
  @extend %flex-nowrap;
  margin-left: auto;
}
